*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.section1 img{
    width: 100%;
    height: 80vh;
    position: absolute;
    z-index: -1;
}
.section1::after {
    bottom: 23px; 
    background: url(Images/overlay-bottom.png);
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    /* color: black; */
    left: 0;
    z-index: 1;
    top: 79%;
}
.inner-Content{
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    height: 65vh;    
}
.inner-Content aside{
    display: flex;
    width: 20%;
    color: white;
    height: 65vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.inner-Content aside span{
    cursor: pointer;
    font-size: 70px;
}
.inner-Content aside span:hover{
    color: orange;
}
.inner-Content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.inner-Content .text h2{
    color: orange;
    font-size: 50px;
    /* font-weight: bold; */
}
.inner-Content .text h1{
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}
.inner-Content .text h3{
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}