*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.section8{
    /* border: 2px solid black; */
    width: 100%;
    height: 56vh;
    position: relative;
    top: 10px;
}
.clients{
    /* border: 2px solid black; */
    width: 90%;
    height: 22vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.client-1{
    margin: 10px 10px;
    /* border: 2px solid black; */
    width: 30%;
    height: 94%;
    padding: 10px 10px;
}
.client-1 p{
    margin-top: 10px;
    /* font-size: 20px;
    text-align: center; */
}
.client-details{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}
.name-profess{
    padding-left: 10px;
}
.name-profess h2{
    color: orange;
    font-size: 30px;
    margin-top: 5px;
}
.name-profess h3{
    color: black;
    font-style: italic;
    font-weight: 100;
    font-size: 20px; 
}
.line4{
    /* border: 1px solid brown; */
    width: 100%;
    height: 54vh;
    margin: 10px 0px 10px 0px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.MENU-PRICING::before{
    content: "";
    height: 100px;
    width: 2px;
    background-color: orange;
    margin-left: 50%;
}
.MENU-PRICING h4{
    font-size: 30px;
    margin-top: 5px;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.MENU-PRICING h1{
    font-size: 50px;
    color: black;
    margin-top: 10px;
}
.dots{
    /* border: 2px solid black; */
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.dots1 span{
    background: orange;
    border-radius: 50%;
    border-style: groove;
    margin: 0 5px;
}
.dots1 span:hover{
    cursor: pointer;
    background-color: black;
    transition: all 0.5s;
}
