*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.webfooter60{
    background: linear-gradient(rgba(51,33,29,0.9),rgba(51,33,29,0.9)),url(Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 44vh;
    /* border: 2px solid orange; */
    position: absolute;
    top: 125%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.webfooter60::before{
    background: url('Images/overlay-top.png');
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    top: -1px;
    z-index: 1;
}
.footer-details{
    /* border: 2px solid black; */
    width: 100%;
    height: 33vh;
    top: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.footer1{
    /* border: 1px solid white; */
    width: 23%;
    height: 90%;
    color: white;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer1 h1{
    text-transform: uppercase;
    margin: 10px 14px;
    letter-spacing: 1.9px;
    font-weight: 700;
}
.footer1 h3{
    margin: 10px 0;
    letter-spacing: 1.2px;
    font-weight: 300;
    display: flex;
}
.footer1 h3 span{
    padding: 0 10px;

}
.footer2{
    /* border: 1px solid white; */
    width: 23%;
    height: 90%;
    color: white;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer2 h1{
    text-transform: uppercase;
    margin: 10px 0px;
    letter-spacing: 1.9px;
    font-weight: 700;
}
.footer2 h4{
    margin: 10px 0;
    letter-spacing: 1.2px;
    font-weight: 300;
    font-size: 20px;
}
.social-icon{
    /* border: 2px solid black; */
    width: 86%;
    margin-top: 40px;
    height: 6vh;
}
.social-icon img{
    border: 1px solid black;
    margin: 6px 7px;
    filter: invert() ;
    width: 38px;
    border-radius: 5px;
    padding: 2px 2px;
    cursor: pointer;
}
.social-icon img:hover{
   filter: invert();
   background-color: white;

}
.footer3{
    /* border: 1px solid white; */
    width: 23%;
    height: 90%;
    color: white;
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer3 h1{
    text-transform: uppercase;
    margin: 10px 0px;
    letter-spacing: 1.9px;
    font-weight: 700;
}
.footer3 h3{
    margin: 10px 0;
    letter-spacing: 1.2px;
    font-weight: 300;
}
.footer4{
    /* border: 1px solid white; */
    width: 23%;
    height: 90%;
    color: white;
    display: flex;
    margin: 10px 10px;
    /* flex-direction: column; */
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer4 h1{
    text-transform: uppercase;
    margin: 10px 14px;
    letter-spacing: 1.9px;
    font-weight: 700;
}
.footer4 p{
    margin: 10px 25px;
    letter-spacing: 1.2px;
    font-weight: 300;
    font-size: 16px;
}
.sign-up{
    width: auto;
    /* height: 5vh; */
    /* border: 1px solid black; */
}
.sign-up input{
    height: 106%;
    background: transparent;
    border-style: none;
    outline: none;
    text-align: center;
    color: wheat;
    border: 1px solid orange;
}
.footer4 a{
    background: orange;
    left: -1px;
    position: relative;
    top: 1px;
    height: 41px;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}
/* .footer-details::after{
    content: "";
    width: 100%;
    height: 1px;
    color: black;
    position: relative;
    top: 10px;
    margin-left: -74%;
} */
.footer-end{
    width: 100%;
    height: 0px;
    border-top: 2px solid #413838;
    position: relative;
    top: 75%;
}
.footer-ending {
    /* border: 2px solid black; */
    font-size: 10px;
    letter-spacing: 1.2px;
    position: relative;
    top: 78%;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
}
.footer-ending span{
    color: orange;
}
.footer-ending h2{
    margin-top: 5px;
}